<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab,
        provident possimus adipisci facere cumque itaque quis libero quia sed,
        animi consequuntur, non quas aliquam odio! Perferendis libero laboriosam
        nemo?
      </p>
    </div>
    <a href="#" class="btn btn--secondary">Get Started</a>
  </div>
</div>
